*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: rgba(128, 128, 128, 0.38);
}

header{
    max-width: 1400px;
    margin: 20px auto 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}

.shop{
    display: flex;
    max-width: 1400px;
    min-height: 1000px;
    margin: 5px auto;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}

h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 51.2px;
    line-height: 61px;
    color: #FFFFFF;
    text-align: center;
}

.categories, .subcategories, .categorylist{
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    height: 100%;
    margin: 20px;
    background-color: rgba(129, 129, 139, 0.1);
    border-radius: 20px;
    padding: 0 15px;
}
.subcategories {
    max-width: 300px;
}

h3 {
    font-family: Arial;
    font-style: normal;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
}

.categorylist{

    max-width: 800px;
    width: 100%;

}

li{
    list-style: none;
    padding: 10px;
    margin: 15px 0;
    border-radius: 20px;
    background: rgba(129, 129, 139, 0.2);
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    transition: all 0.03s ease;
}
li:hover{
    background: rgba(61, 150, 244, 1)
}

.hidden {
    display: none;
}

.stuffitem{
    /*display: none;*/
    padding: 10px;
    margin: 15px 0;
    border-radius: 20px;
    background: rgba(129, 129, 139, 0.2);
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
}

.stuffitem img {
    max-width: 250px;
    height: 160px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.stuffitem p {
    margin-top: 10px;
}

button{
    margin-top: 40px;
    margin-left: 30px;
    font-family: 'Poppins';
    padding: 20px 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    background: rgba(129, 129, 139, 0.2);
    border-radius: 50px;
    transition: all 0.3s ease;
}
button:hover{
    background: rgba(61, 150, 244, 1)
}
h4{
    margin-bottom: 20px;
}
